<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script>
      function updatePageTitleCount(count) {
        document.getElementById('page-title_count').textContent = count;
      }
    </script>
  </head>
  <body>
    <div>
        <h1>Search</h1>
        <form action="" method="post">
          {{ form.csrf_token }}

          <!-- (STRING) TITLE SEARCH -->
          <label>Title:</label>
          {{ form.title(placeholder="Enter the title your interested in") }}
          </br>

          <!-- TITLE LANGUAGE SELECTION -->
          <div>
            <label>Lang:</label>
            {% for lang_option in form.lang %}
              <span>
                {{ lang_option }}
                <label for="{{ lang_option.id }}">{{ lang_option.label.text }}</label>
              </span>
            {% endfor %}
          </div>

          <!-- PAGE NAVIGATION -->
          <br>
          <div><label>Current Page: </label>{{ pagination_data.currentPage}}</div>
          <div><label>Total Pages: </label>{{ pagination_data.total}}</div>
          
          <br>
          <div>
            <label>Navigation:</label>
            {{form.page_nav}}
          </div>

          <!-- PAGINATION CONTROL (jon fixed this)-->
          <label>Titles Per Page:</label>
          <span id="page-title_count">{{ form.page_title_count.data or submitted_form_data[2] }}</span><br>
          <input type="range" min="4" value="{{ form.page_title_count.data or submitted_form_data[2] }}" id="page-slider" name="page_title_count" oninput="updatePageTitleCount(this.value)">
          </br>


          {{ form.submit() }}
        </form>
    </div>
  </body>
</html>
